<div class="page-header">
  <h1>Own Permissions</h1>
</div>

<p><a href="/own_permissions/new" class="btn btn-primary">Add a New Own Permission</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @own_permissions.each do |own_permission| %>
      <tr>
        <td><%= own_permission.child.name %></td>
        <td><%= own_permission.user.username %></td>
        <td>
          <a href="/own_permissions/<%= own_permission.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <% if own_permission.child.owning_users.include?(current_user) %>
            <!-- <a href="/own_permissions/<%= own_permission.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a> -->
          <% end %>
        </td>
        <td>
          <% if own_permission.child.owning_users.include?(current_user) %>
            <a href="/delete_own_permission/<%= own_permission.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

