<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Health Issues</h1>
  <% else %>
    <h1>Health Issues</h1>
  <% end %>
</div>

<p><a href="/healths/new" class="btn btn-primary">Add a New Health</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><a href="/children/<%= health.child_id %>/dayview/<%= Date.today %>"><%= health.child.name %></a></td>
        <td><%= health.date %></td>
        <td><%= health.time.strftime("%I:%M %p") %></td>
        <td><%= health.description %></td>
        <td><%= health.user.username %></td>
        <td>
          <a href="/healths/<%= health.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <% if health.child.editing_users.include?(current_user) %>
            <a href="/healths/<%= health.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          <% end %>
        </td>
        <td>
          <% if health.child.editing_users.include?(current_user) %>
            <a href="/delete_health/<%= health.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

