<div class="page-header">
  <h1>Health #<%= @health.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= @health.description %></dd>

  <dt>Date</dt>
  <dd><%= @health.date %></dd>

  <dt>Time</dt>
  <dd><%= @health.time %></dd>

  <dt>Child</dt>
  <dd><%= @health.child_id %></dd>

  <dt>User</dt>
  <dd><%= @health.user_id %></dd>

</dl>
