<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Notes (Diaries)</h1>
  <% else %>
    <h1>Notes (Diaries)</h1>
  <% end %>
</div>

<p><a href="/notes/new" class="btn btn-primary">Add a New Note</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Date</th>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><a href="/children/<%= note.child_id %>/dayview/<%= Date.today %>"><%= Child.find(note.child_id).name %></a></td>
        <td><%= note.date %></td>
        <td><%= note.content %></td>
        <td><%= User.find(note.user_id).username %></td>
        <td>
          <a href="/notes/<%= note.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/notes/<%= note.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_note/<%= note.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

