<div class="page-header">
  <h1>Note #<%= @note.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Content</dt>
  <dd><%= @note.content %></dd>

  <dt>Date</dt>
  <dd><%= @note.date %></dd>

  <dt>Child</dt>
  <dd><%= @note.child_id %></dd>

  <dt>User</dt>
  <dd><%= @note.user_id %></dd>

</dl>
