<div class="page-header">
  <h1>Children</h1>
</div>

<p><a href="/children/new" class="btn btn-primary">Add a New Child</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><a href="/children/<%= child.id %>/today"><%= child.name %></a></td>
        <td><%= child.dob %></td>
        <td><%= child.sex %></td>
        <td>
          <% if child.owning_users.include?(current_user) %>
            <a href="/children/<%= child.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          <% end %>
        </td>
        <td>
          <% if child.owning_users.include?(current_user) %>
            <a href="/delete_child/<%= child.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

