<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Accomplishments</h1>
  <% else %>
    <h1>Accomplishments</h1>
  <% end %>
</div>

<p><a href="/accomplishments/new" class="btn btn-primary">Add a New Accomplishment</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accomplishments.each do |accomplishment| %>
      <tr>
        <td><a href="/children/<%= accomplishment.child_id %>/dayview/<%= Date.today %>"><%= accomplishment.child.name %></a></td>
        <td><%= accomplishment.date %></td>
        <td><%= accomplishment.time.strftime("%I:%M %p") %></td>
        <td><%= accomplishment.description %></td>
        <td><%= accomplishment.user.username %></td>
        <td>
          <a href="/accomplishments/<%= accomplishment.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <% if accomplishment.child.editing_users.include?(current_user) %>
            <a href="/accomplishments/<%= accomplishment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          <% end %>
        </td>
        <td>
          <% if accomplishment.child.editing_users.include?(current_user) %>
            <a href="/delete_accomplishment/<%= accomplishment.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

