<div class="page-header">
  <h1>Accomplishment #<%= @accomplishment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= @accomplishment.description %></dd>

  <dt>Date</dt>
  <dd><%= @accomplishment.date %></dd>

  <dt>Time</dt>
  <dd><%= @accomplishment.time %></dd>

  <dt>Child</dt>
  <dd><%= @accomplishment.child_id %></dd>

  <dt>User</dt>
  <dd><%= @accomplishment.user_id %></dd>

</dl>
