<div class="page-header">
  <h1>Bath #<%= @bath.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Date</dt>
  <dd><%= @bath.date %></dd>

  <dt>Time</dt>
  <dd><%= @bath.time %></dd>

  <dt>Child</dt>
  <dd><%= @bath.child_id %></dd>

  <dt>User</dt>
  <dd><%= @bath.user_id %></dd>

</dl>
