<div class="page-header">
  <h1>Add Diaper</h1>
</div>

<% if @diaper.errors.any? %>
  <% @diaper.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_diaper" class="form-horizontal">
  <!-- Label and input for category -->
  <div class="form-group">
    <label for="category" class="col-sm-2 control-label">
      Category
    </label>
    <div class="col-sm-10">
      <select type="text" id="category" name="category" class="form-control">
        <% if @diaper.category != nil %>
          <option value="<%= @diaper.category %>" selected><%= @diaper.category %></option>
        <% end %>
        <option value="Pee">Pee</option>
        <option value="Poop">Poop</option>
        <option value="Both">Both</option>
      </select>
    </div>
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">
      Description
    </label>
    <div class="col-sm-10">
      <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @diaper.description %></textarea>
    </div>
  </div>

  <!-- Label and input for date -->
  <div class="form-group">
    <label for="date" class="col-sm-2 control-label">
      Date
    </label>
    <div class="col-sm-10">
      <input type="text" id="datepicker" name="date" placeholder="Date" class="form-control" value="<%= @diaper.date %>">
    </div>
  </div>

  <script type="text/javascript">
    $('#datepicker').datepicker({
      dateFormat: "yy-mm-dd"
    });
  </script>

  <!-- Label and input for time -->
  <div class="form-group form-inline">
    <label for="time" class="col-sm-2 control-label">
      Time
    </label>
    <div class="col-sm-10">
      <select type="text" id="hour" name="hour" class="form-control">
        <% if @diaper.time != nil %>
          <option value="<%= @diaper.time.strftime('%I') %>" selected><%= @diaper.time.strftime("%I") %></option>
        <% end %>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      :
      <select type="text" id="minutes" name="minutes" class="form-control">
        <% if @diaper.time != nil %>
          <option value="<%= @diaper.time.strftime('%M') %>"><%= @diaper.time.strftime("%M") %></option>
        <% end %>
        <option value="00">00</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <select type="text" id="ampm" name="ampm" class="form-control">
        <% if @diaper.time != nil %>
          <option value="<%= @diaper.time.strftime('%p') %>"><%= @diaper.time.strftime("%p") %></option>
        <% end %>
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    </div>
  </div>

  <!-- Label and input for child_id -->
  <div class="form-group">
    <label for="child_id" class="col-sm-2 control-label">
      Child
    </label>
    <div class="col-sm-10">
      <select name="child_id" class="form-control">
        <% if @diaper.child_id != nil %>
          <option value="<%= @diaper.child_id %>" selected><%= Child.find(@diaper.child_id).name %></option>
        <% end %>
        <% current_user.editable_children.each do |child| %>
          <option value="<%= child.id %>">
            <%= child.name %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <div class="col-sm-10">
      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Diaper" class="btn btn-primary">
    </div>
  </div>
</form>
