<div class="page-header">
  <h1>Diaper #<%= @diaper.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @diaper.category %></dd>

  <dt>Description</dt>
  <dd><%= @diaper.description %></dd>

  <dt>Date</dt>
  <dd><%= @diaper.date %></dd>

  <dt>Time</dt>
  <dd><%= @diaper.time %></dd>

  <dt>Child</dt>
  <dd><%= @diaper.child_id %></dd>

  <dt>User</dt>
  <dd><%= @diaper.user_id %></dd>

</dl>
