<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Sleeps</h1>
  <% else %>
    <h1>Sleeps</h1>
  <% end %>
</div>

<p><a href="/sleeps/new" class="btn btn-primary">Add a New Sleep</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Date</th>
      <th>Time</th>
      <th>Category</th>
      <th>Duration hours</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sleeps.each do |sleep| %>
      <tr>
        <td><a href="/children/<%= sleep.child_id %>/dayview/<%= Date.today %>"><%= sleep.child.name %></a></td>
        <td><%= sleep.date %></td>
        <td><%= sleep.time.strftime("%I:%M %p") %></td>
        <td><%= sleep.category %></td>
        <td><%= sleep.duration_hours %></td>
        <td><%= sleep.user.username %></td>
        <td>
          <% if sleep.child.editing_users.include?(current_user) %>
            <a href="/sleeps/<%= sleep.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          <% end %>
        </td>
        <td>
          <% if sleep.child.editing_users.include?(current_user) %>
            <a href="/delete_sleep/<%= sleep.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

