<div class="page-header">
  <h1>Sleep #<%= @sleep.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @sleep.category %></dd>

  <dt>Date</dt>
  <dd><%= @sleep.date %></dd>

  <dt>Time</dt>
  <dd><%= @sleep.time %></dd>

  <dt>Duration hours</dt>
  <dd><%= @sleep.duration_hours %></dd>

  <dt>Child</dt>
  <dd><%= @sleep.child_id %></dd>

  <dt>User</dt>
  <dd><%= @sleep.user_id %></dd>

</dl>
