<div class="page-header">
  <h1>View Permissions</h1>
</div>

<p><a href="/view_permissions/new" class="btn btn-primary">Add a New View Permission</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @view_permissions.each do |view_permission| %>
      <tr>
        <td>
          <a href="/children/<%= view_permission.child.id %>/dayview/<%= Date.today %>"><%= view_permission.child.name %></a>
        </td>
        <td><%= view_permission.user.username %></td>
        <td>
          <% if view_permission.child.owning_users.include?(current_user) %>
            <a href="/delete_view_permission/<%= view_permission.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

