<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Feedings</h1>
  <% else %>
    <h1>Feedings</h1>
  <% end %>
</div>

<p><a href="/foods/new" class="btn btn-primary">Add a New Food</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Date</th>
      <th>Time</th>
      <th>Category</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><a href="/children/<%= food.child_id %>/dayview/<%= Date.today %>"><%= food.child.name %></a></td>
        <td><%= food.date %></td>
        <td><%= food.time.strftime("%I:%M %p") %></td>
        <td><%= food.category %></td>
        <td><%= food.description %></td>
        <td><%= food.user.username %></td>
        <td>
          <a href="/foods/<%= food.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <% if food.child.editing_users.include?(current_user) %>
            <a href="/foods/<%= food.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          <% end %>
        </td>
        <td>
          <% if food.child.editing_users.include?(current_user) %>
            <a href="/delete_food/<%= food.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

