<div class="page-header">
  <h1>Food #<%= @food.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @food.category %></dd>

  <dt>Description</dt>
  <dd><%= @food.description %></dd>

  <dt>Date</dt>
  <dd><%= @food.date %></dd>

  <dt>Time</dt>
  <dd><%= @food.time %></dd>

  <dt>Child</dt>
  <dd><%= @food.child_id %></dd>

  <dt>User</dt>
  <dd><%= @food.user_id %></dd>

</dl>
