<div class="page-header">
  <% if params[:child_id] != nil %>
    <h1><%= Child.find(params[:child_id]).name %>'s Photos</h1>
  <% else %>
    <h1>Photos</h1>
  <% end %>
</div>

<p><a href="/photos/new" class="btn btn-primary">Add a New Photo</a></p>

<% @photos.each do |photo| %>
  <div class="row" id="photo_<%= photo.id %>">
    <div class="col-md-2 col-md-offset-1">
      <div class="pull-left">
        <p class="text-right">
          <a href="/children/<%= photo.child_id %>/dayview/<%= Date.today %>">
            <%= photo.child.name %>
          </a>
        </p>
        <p class="text-right">
          Posted by <%= photo.user.username %>
        </p>
        <p class="text-right"><%= time_ago_in_words(photo.created_at) %> ago</p>
      </div>
    </div>
    <div class="col-md-6 well">
      <div class="thumbnail">
        <a href="/photos/<%= photo.id %>">
        <img src="<%= photo.image_url %>" width="320">
        </a>
        <div class="caption">
          <p class="lead"><%= photo.caption %></p>
          <p>
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <% if photo.child.editing_users.include?(current_user) %>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </p>
          <ul>
            <% photo.photo_comments.each do |photo_comment| %>
              <li>
                <p><%= photo_comment.content %></p>
                <p><%= photo_comment.user.username %> (<%= time_ago_in_words(photo_comment.created_at) %> ago)</p>
              </li>
            <% end %>
          </ul>
            <form action="/create_photo_comment">
              <div class="form-group">
                <textarea id="content" name="content" placeholder="Add your comment" class="form-control" rows="3"></textarea>
              </div>

              <input type="hidden" id="photo_id" name="photo_id" value="<%= photo.id %>">

              <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

              <div class="form-group">
                <input type="submit" value="Create Comment" class="btn btn-primary">
              </div>
            </form>
        </div>
      </div>

    </div>
  </div>
<% end %>


<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>Image</th>
      <th>Caption</th>
      <th>Date</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><a href="/children/<%= photo.child_id %>/dayview/<%= Date.today %>"><%= photo.child.name %></a></td>
        <td><img src="<%= photo.image %>"></td>
        <td><%= photo.caption %></td>
        <td><%= photo.date %></td>
        <td><%= photo.user.username %></td>
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->

