<div class="page-header">
  <h1>Editors</h1>
</div>

<p><a href="/editors/new" class="btn btn-primary">Add a New Editor</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @editors.each do |editor| %>
      <tr>
        <td><%= editor.child_id %></td>
        <td><%= editor.user_id %></td>
        <td>
          <a href="/editors/<%= editor.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/editors/<%= editor.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_editor/<%= editor.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

