<div class="page-header">
  <h1>Edit Permissions</h1>
</div>

<p><a href="/edit_permissions/new" class="btn btn-primary">Add a New Edit Permission</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Child</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @edit_permissions.each do |edit_permission| %>
      <tr>
        <td>
          <a href="/children/<%= edit_permission.child.id %>/dayview/<%= Date.today %>"><%= edit_permission.child.name %></a>
        </td>
        <td><%= edit_permission.user.username %></td>
        <td>
          <% if edit_permission.child.owning_users.include?(current_user) %>
            <a href="/delete_edit_permission/<%= edit_permission.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

