<div class="page-header">
  <h1>Add Edit Permission</h1>
</div>

<% if @edit_permission.errors.any? %>
  <% @edit_permission.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_edit_permission" class="form-horizontal">
  <!-- Label and input for child_id -->
  <div class="form-group">
    <label for="child_id" class="col-sm-2 control-label">
      Child
    </label>
    <div class="col-sm-10">
      <select name="child_id" class="form-control">
        <% if params[:child_id] != nil %>
          <option value="<%= params[:child_id] %>" selected><%= Child.find(params[:child_id]).name %></option>
        <% end %>
        <% current_user.own_children.each do |child| %>
          <option value="<%= child.id %>">
            <%= child.name %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <!-- Label and input for username -->
  <div class="form-group">
    <label for"username" class="col-sm-2 control-label">
      Username
    </label>
    <div class="col-sm-10">
      <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= params[:username] %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Edit Permission" class="btn btn-primary">
    </div>
  </div>
</form>
